<h1>Menu</h1>

<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to(section.name , menu_path(section: section.name), 
      class: "nav-link #{'active' if params[:section] == section.name}") %>
    </li>
  <% end %>

  <% @food_items.each do |food_item| %>
      =========== 
      name: <%= food_item.name %><br>
      price: <%= food_item.price %><br>
      description: <%= food_item.description %><br>
  <% end %>

</ul>