
<div id="contact">Contact Info</div>

<div class="row">
  <div class="col-md-4">
    <address>
      Food Court<br>September 23 Park, 01, Pham Ngu Lao street,<br>part B, number 26<br>District 1<br>HCMC<br>Vietnam
    </address>
  </div>

  <div class="col-md-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.122507998063!2d106.6968467!3d10.7706114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8ca8e027af4297d!2sSeptember+23+Park!5e0!3m2!1sen!2s!4v1501767761664" 
          width="90%" height="450" frameborder="0" 
          style="border:0">
  </iframe>
  </div>
</div>