
<div class="jumbotron">

  <div class="row">

    <div class="col-md-6">
      <div class="display-4">Welcome to</div>
        <h1 class="display-3">Mập lắm rou!</h1>
        <p class="lead">Mập, mập nữa, mập mãi</p>
    </div>
    
    <div class="col-md-6 restaurant-image">
      <%= image_tag "https://s-media-cache-ak0.pinimg.com/736x/28/c1/12/28c112de6479f2b98e99272cb4df269b--cat-cartoon-drawing-cartoon-cats.jpg"%>
    </div>
  </div>

    <p class="lead">
      <%= link_to "Menu", sections_path, class: "btn btn-secondary btn-lg" %>
      <%= link_to "Contact us", contact_us_path, class: "btn btn-secondary btn-lg" %>
    </p>

</div>
