
<div class="jumbotron">
  <h1 class="display-3">Mập lắm! Đừng ăn nữa</h1>
  <p class="lead">Health first. Beauty later and forever.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
