
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="display-4">Welcome to</div>
        <h1 class="display-3">Mập lắm!</h1>
        <p class="lead">Mập, mập nữa, mập mãi</p>
    </div>
    <div class="col-md-6">
      <h1>Hello</h1>
    </div>
  


  
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
