<br><br>
<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
      <%= link_to(section.name , section_food_items_path(section), 
      class: "nav-link #{'active' if params[:section] == section.name}") %>
    </li>
  <% end %>

  <% @food_items.each do |food_item| %>
      <br>=========== <br>
      name: <%= food_item.name %><br>
      price: <%= food_item.price %><br>
      description: <%= food_item.description %><br>
  <% end %>

</ul>