<br><br>

<ul class="nav nav-pills">
  <h1>Section: <%= @section.name %></h1>

  <% @food_items.each do |food_item| %>
      <br>=========== <br>
      name: <%= food_item.name %><br>
      price: <%= food_item.price %><br>
      description: <%= food_item.description %><br>
  <% end %>

</ul>